@charset "utf-8";
/* IE 7 이하의 브라우저에서 사용합니다. */

.CERT_btn_center { text-align:center; }
.CERT_btn_center > p { display:inline;}

/* 세부내용 버튼*/
.CERT_sbtnbg2 { display:inline; background:url(../images/sbtnbg2_r.jpg) right no-repeat; padding-right:4px;}
.CERT_sbtnbg2 a {display:inline-block; height:24px; line-height:24px; background:url(../images/sbtnbg2_l.jpg); color:#3f7db0; padding:0 8px 0 12px;}
.CERT_sbtnbg2 a:active {background:url(../images/sbtnbg2_l_on.jpg);}


/*버튼공통*/
.CERT_btns_common {position:relative; margin-top:10px; text-align:center;}
.CERT_btnBg_mbtn { display:inline; background:url(../images/btnBg_right.jpg) right no-repeat; padding-right:3px;}
.CERT_btnBg_mbtn a {display:inline-block; padding:2px 45px 0 45px; height:26px; line-height:26px; font-family:돋움; background:url(../images/btnBg.jpg); color:#326594 !important; }
.CERT_btnBg_mbtn a:active {background:url(../images/btnBg_on.jpg);}
/*상세버튼*/
.CERT_btns_right {display:inline; float:right;}
.CERT_btnBg_sbtn { display:inline; background:url(../images/btnBg_right.jpg) right no-repeat; padding-right:3px;}
.CERT_btnBg_sbtn a {display:inline-block; padding:2px 10px 0 13px; height:26px; line-height:26px; background:url(../images/btnBg.jpg); color:#326594 !important; }
.CERT_btnBg_sbtn a:active {background:url(../images/btnBg_on.jpg);}
/*버튼_'추가정보'*/
.CERT_btnBg_sbtn4 { display:inline; background:url(../images/btnBg_right.jpg) right no-repeat; padding-right:3px;}
.CERT_btnBg_sbtn4 a {display:inline-block; width:87px; padding-top:2px; height:26px; line-height:26px; background:url(../images/btnBg.jpg); color:#326594 !important; text-align:center;}
.CERT_btnBg_sbtn4 a:active {background:url(../images/btnBg_on.jpg);}
/*상세버튼 스타일2*/
.CERT_btnBg_sbtn2 { display:inline; background:url(../images/btn_blue_right.png) right no-repeat; padding-right:5px;}
.CERT_btnBg_sbtn2 a {display:inline-block; padding:2px 10px 0 15px; height:26px; line-height:26px; background:url(../images/btn_blue.png); color:#fff !important;}
.CERT_btnBg_sbtn2 a span { display:inline-block; padding-top:1px;}
.CERT_btnBg_sbtn2 a:hover span { text-decoration:underline;}
/*상세버튼 스타일3*/
.CERT_btnBg_sbtn3 { display:inline; background:url(../images/btn_gray_right.png) right no-repeat; padding-right:1px;}
.CERT_btnBg_sbtn3 a {display:inline-block; padding:0 10px 0 11px; height:23px; line-height:23px; background:url(../images/btn_gray.png); color:#fff !important;}
.CERT_btnBg_sbtn3 a span { display:inline-block; padding-top:1px;}
.CERT_btnBg_sbtn3 a:hover span { text-decoration:underline;}
/********************************************************************************************/

ul.CERT_list_cate {width:312px; height:23px; background:#fff; position:relative; z-index:1; margin-left:0;}