<ion-view view-title="">
	<ion-content>
		<div class="container">
			<div class="inner_cont type2">
				<div class="id_star">
					<p>kos<span>***</span></p>
					<p class="ft_black">탈퇴한 아이디는 복구되지 않습니다.</p>
				</div>
				<!-- 등록된 앱 -->
				<div class="midline_txt"><span>등록된 앱</span></div>
				<ul class="both_box">  <!-- 2쌍씩, 빈태그 넣어주세영..................... -->
					<li>카카오증권</li>
					<li>증권스토리</li>
					<li>즐거운증권생활</li>
					<li></li>
				</ul>
				<!--// 등록된 앱 -->
				<!-- 등록된 계좌 -->
				<div class="midline_txt"><span>등록된 계좌</span></div>
				<!--// 등록된 계좌 -->
				<ul class="acc_list_com">
					<li>
						<p class="title_s">미래에셋대우증권</p>
						<label for="acc1-1">
							목돈1계좌
							<span class="num_right">1548-4875-02-112</span>
						</label>
						<label for="acc1-2">
							목돈2계좌
							<span class="num_right">4875-02-112</span>
						</label>
					</li>
					<li>
						<p class="title_s">신한증권</p>
						<label for="acc2-1">
							목돈1계좌
							<span class="num_right">1548-4875-02-112</span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<!-- 하단 버튼 -->
		<div class="button_area btn_bottom_area">
			<button class="btn_middle btn_black_org">탈퇴신청</button>
		</div>
		<!--// 하단 버튼 -->
	</ion-footer-bar>
</ion-view>
