<ion-view view-title="공인인증서 정보">
    <ion-content>
        <div class="container">
            <div class="inner_cont type2">
                <div class="sig_area">
                    <h2 class="title_h2">인증서정보</h2>
                    <div class="gray_box sig_ok" ng-show="vm.customerCertDn">
                        <p>인증서 정보가 등록되었습니다.</p>
                    </div>
                    <div class="gray_box sig_ok not_sig" ng-show="!vm.customerCertDn">
                        <p>인증서 정보가 등록되지 않았습니다.</p>
                    </div>
                    <!-- 아코디언 메뉴 -->
                    <div class="accordian-menu" accordion>
                        <div class="accordian-cont cont_wrap active"> <!-- active -->
                            <a href="#none" class="btn_bar">공인인증서 안내</a> <!-- add class : not-active : 내용없을때 -->
                            <div class="detail_cont">
                                <div class="gray_box">
                                    <ul class="dot_list">
                                        <li>금융투자 핀테크 포털에서는 공인인증서를 직접 발급 및 재발급 받을 수 없습니다.</li>
                                        <li>공인인증서 발급은 금융투자회사(증권사 등)를 이용하시기 바랍니다.</li>
                                        <li>공인인증서를 이용하여 금융거래정보제공동의서에 전자서명을 하고 법적 효력과 함께 안전한 전자거래를 보장하기 위함입니다.</li>
                                        <li>등록 가능한 공인인증서 : 회원의 주민등록번호로 발급된 개인용 공인인증서(범용 또는 증권전용 용도제한용</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// 아코디언 메뉴 -->
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar>
        <div class="button_area btn_bottom_area">
            <a href="" ng-click="vm.modifyUserCertificatie();" class="btn_middle btn_black_org">인증서 등록</a>
        </div>
    </ion-footer-bar>
    <!-- <ion-footer-bar>
        <div class="button_area btn_bottom_area">
            <a href="#go" class="btn_middle btn_black_org">재등록</a>
        </div>
    </ion-footer-bar> -->

<!-- <br><br><br><br> -->

<!--     <div class="tab-body"> -->
<!--         <div class="cont inner_cont"> -->
<!--             <div class="authentication_view" ng-show="vm.customerCertDn"> -->
<!--                 <div class="signature_box"> -->
<!--                         <div class="auth_name"><strong>등록되어있음.</strong></div> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="authentication_view red_alarm" ng-show="!vm.customerCertDn"> -->
<!--                 <div class="signature_box"> -->
<!--                         <div class="auth_name"><strong>미등록 되어있음.</strong></div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->
        
<!--         <br><br><br><br> -->
<!--         <button ng-click="vm.modifyUserCertificatie();">인증서 등록 (혹은) 재등록</button> -->
        
<!--     </div> -->
    
<!--     <br> -->
<!--     <div>{{vm.signKoreaResultData}}</div> -->


<!-- 	</ion-content> -->

    <!-- floating menu -->

</ion-view>