<ion-view view-title="회원정보">
	<ion-content>
		<div class="container"> <!-- 비밀번호 확인 -->
			<div class="inner_cont type2">
				<!-- 정보입력 -->
				<ul class="entry_area mypage">
					<li>
						<div class="title_s">이름</div>
						<div class="input_area">
							<input type="text" maxlength="12" ng-model="vm.customerNameKor" disabled />
						</div>
					</li>
					<li>
						<div class="title_s">아이디</div>
						<div class="input_area"><input type="text" ng-model="vm.customerId" disabled /></div>
					</li>
					<li>
						<div class="title_s">생년월일</div>
						<div class="input_area"><input type="text" ng-model="vm.customerBirthDay" disabled /></div>
					</li>
					<li>
						<div class="title_s">
							<div class="tips" tooltips>
								이메일
								<span class="icon_tip">i</span>
								<div class="detail_tip">
									수신에 동의하지 않으셔도 서비스 이용 관련 중요 메일은 발송됩니다.
								</div>
							</div>
						</div>
						<div class="{{vm.customerEmailReceiveYn == 'Y' ? 'email_area on' : 'email_area off'}}">
							<div class="input_area">
								<input type="text" ng-model="vm.customerEmail" disabled />
							</div>
						</div>
					</li>
					<li>
						<div class="title_s">휴대폰번호</div>
						<div class="btm_enter disabled"> <!-- disabled 추가시 버튼이 보이지 않아요 -->
							<div class="input_area"><input type="tel" maxlength="12" ng-model="vm.customerPhone" disabled/></div>
						</div>
					</li>
					<li>
						<div class="title_s">
							<div class="tips" tooltips>
								스마트 OTP
								<span class="icon_tip">i</span>
								<div class="detail_tip">
									&lt;등록 방법&gt;<br><br>
									1. Smartkey Pass앱에 보이는 '사이트 인증 등록' 번호를 입력하시고 ‘확인’ 버튼을 클릭해주세요.<br><br>
									2. Smartkey Pass앱에 하단에 'OK' 버튼을 누르면 등록 됩니다.<br><br>
								<span class="ft_org">*스마트 OTP를 사용하기 위해서는 스마트폰에 Smartkey Pass앱이 설치되어 있어야 합니다.</span><br><br>
							</div>
						</div>
							</div>
							<div class="{{vm.otpUseYn ? 'smart_otp_wrap on' : 'smart_otp_wrap off'}}"> <!-- OTP 사용 :  on / OTP X : off -->
								<label class="toggle">
									<input type="checkbox" ng-model="vm.otpUseYn" ng-true-value="true" ng-false-value="false" disabled>
									<div class="track">
										<div class="handle"></div>
									</div>
								</label>
								<div class="btm_enter smt_otp" ng-show="!!vm.otpUseYn">
									<div class="input_area"><input type="text" placeholder="스마트 OTP 번호 입력" disabled/></div>
									<button type="button" class="btn_send">확인</button>
								</div>
							</div>
					</li>
				</ul>
				<div class="mem_leave">
					<a class="btn_text" ng-click="vm.withDraw();$event.preventdefault(); ">회원탈퇴</a>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<!-- 하단 버튼 -->
		<div class="button_area btn_bottom_area">
			<a class="btn_middle btn_black_org" href="#/passwordConfirm">수정</a>
		</div>
		<!--// 하단 버튼 -->
	</ion-footer-bar>
</ion-view>