<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <!-- prod2 -->
    
    <!-- ===================================== -->
    <!-- Possible Log Levels:                  -->
    <!-- ===================================== -->
    <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
 
    <Properties>
        <Property name="log-path">${sys:catalina.home}</Property>
        
        <Property name="catalina-file-name">catalina</Property>
<!--         <Property name="catalina-file-name">admportalcatalina</Property> -->
<!--         <Property name="catalina-file-name">bizportalcatalina</Property> -->
<!--         <Property name="catalina-file-name">svcportalcatalina</Property> -->
        
        <property name="pattern1">%d{yyyy-MM-dd HH:mm:ss,SSS} %p %X{serverName} [%c{10}] %m %n</property>
        <property name="pattern2">%d{yyyy-MM-dd HH:mm:ss,SSS} %p %X{serverName} [%c{10}] %m %n</property>
    </Properties>
    
    <!-- Appenders -->
    <Appenders>
    
<!--         <Console name="RollingFile" target="SYSTEM_OUT"> -->
<!--             <PatternLayout pattern="${pattern1}" /> -->
<!--         </Console> -->

        <RollingFile name="RollingFile" fileName="${log-path}/logs/${catalina-file-name}.out"
            filePattern="${log-path}/logs/$${date:yyyy}/$${date:MM}/${catalina-file-name}.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern2}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

    </Appenders>


    <!-- Application Loggers -->
    <Loggers>
<!--         <logger name="org.springframework" level="info" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->
<!--         <logger name="kr.co.koscom.oppf" level="info" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->

<!--         <Logger name="org.mybatis" level="info" additivity="false"> -->
<!--             <appender-ref ref="console" /> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </Logger> -->

<!--         <logger name="java.sql" level="info" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->
<!--         <logger name="java.sql.Connection" level="info" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->
<!--         <logger name="java.sql.PreparedStatement" level="info" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->
<!--         <logger name="java.sql.ResultSet" level="WARN" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->
<!--         <logger name="jdbc" level="WARN" additivity="false"> -->
<!--             <AppenderRef ref="RollingFile" /> -->
<!--         </logger> -->


        <Root level="ERROR">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>

</Configuration>