<ion-view view-title="자주 묻는 질문">

    <ion-content>
        <ion-refresher pulling-text="" on-refresh="vm.searchPulling()" pulling-icon="ion-ios-refresh"></ion-refresher>
	
        <div class="container">
            <div class="search_area">


		<form name="$root.searchFoam">
        
                <div class="select_box">
            			<select ng-model="vm.searchParam.searchType" 
                                ng-options="data.searchResCode as data.codeNameKor for data in vm.commonCodeList" >
            			</select>
                </div>

                <div class="input_area">
            			<input type="text" ng-model="vm.searchParam.searchKeyword" 
                                id="txtSearchKeyword" 
                                placeholder="검색어를 입력하세요" 
                                ng-keydown="vm.inputKeyDown($event)"
                                ng-blur="vm.search()" />
            			<button type="button" class="btn_del" ng-click="vm.searchClear()" ng-show="vm.showClearBtn"></button>
                </div>
		</form>
            </div>
		
        
            <div class="inner_cont type2">
                <div class="hits"><span class="ft_org">{{vm.searchTotalCount}}</span> 건</div>
                <!-- 아코디언 메뉴 -->
                <div class="notice_area">
                    <div class="accordian-menu" accordion>
        
<!--                         <div collection-repeat="listRes in vm.faqList" class="accordian-cont cont_wrap"> 반복 -->
                        <div ng-repeat="listRes in vm.faqList" class="accordian-cont cont_wrap"> <!-- 반복 -->
                            <a href="#none" class="btn_bar">
                                <span class="title">{{listRes.faqTitle}}</span>
                                <span class="date">{{listRes.createDate.replace('-', '\.').replace('-', '\.')}}</span>
                            </a>
                            <div class="detail_cont">
                                <div class="gray_box" ng-bind-html="listRes.faqContent">
<!--                                     {{listRes.faqContent}} -->
                                </div>
                            </div>
                        </div>
<!--                         <div class="accordian-cont cont_wrap"> -->
<!--                             <a href="#none" class="btn_bar"> -->
<!--                                 <span class="title">ARS 인증 안내ARS 인증 안내ARS 인증 안내ARS 인증 안내ARS 인증 안내</span> -->
<!--                                 <span class="date">2017.07.18</span> -->
<!--                             </a> -->
<!--                             <div class="detail_cont"> -->
<!--                                 <div class="gray_box"> -->
<!--                                     핀테크 포털의 정착을 위해 신규파트너를 모집하고 있습니다. 많은 관심부탁드립니다.핀테크 포털의 정착을 위해 신규파트너를 모집하고 있습니다. 많은 관심부탁드립니다.핀테크 포털의 정착을 위해 신규파트너를 모집하고 있습니다. 많은 관심부탁드립니다. 핀테크 포털의 정착을 위해 신규파트너를 모집하고 있습니다. 많은 관심부탁드립니다. -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->

           <ion-infinite-scroll ng-if="!vm.noMoreItemsAvailable" on-infinite="vm.search()" distance="10%">
           </ion-infinite-scroll>

                    </div>

                    <!-- 결과 없을때 -->
                    <div ng-hide="vm.searchTotalCount" class="not_result">검색 결과가 없습니다.</div>
                    <!--// 결과 없을때 -->


                </div>
                <!--// 아코디언 메뉴 -->
            </div>
        </div>
       
        
        
<!-- 		<div class="faq" > -->
<!-- 			<ul class="list" > -->
<!-- 				<li ng-repeat="item in vm.items"> -->
<!-- 				<li collection-repeat="listRes in vm.faqList"> -->
<!-- 					<div ng-click="vm.alert(listRes.faqTitle, listRes.faqContent);">{{listRes.faqTitle}}</div> -->
<!-- 					<div ng-show="vm.click" style="color:gray;"> -->
<!-- 						{{listRes.faqContent}} -->
<!-- 					</div> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 			<ion-infinite-scroll ng-if="!vm.noMoreItemsAvailable" on-infinite="vm.selectFaqList(vm.noMoreItemsAvailable, vm.searchParam.page, vm.searchParam.size, vm.searchParam.searchType, vm.searchParam.searchKeyword)" distance="10%"> -->
<!-- 			</ion-infinite-scroll> -->
<!-- 		</div> -->




	</ion-content>
</ion-view>