<ion-view view-title="">
	<ion-content>
		<div class="container page_login"> <!-- 로그인 페이지 -->
			<div class="inner_cont type2">
				<!-- modify -->
				<div class="enter_oauth">
					<span class="ft_org">QARA</span>(콰라)에서 KOSCOM 금융투자 핀테크 포털 계정을 사용하려면 로그인하세요. 
				</div>
				<!--// modify -->
				<div class="login_input_area">
					<input type="text" placeholder="아이디" />
					<input type="password" placeholder="비밀번호" />
				</div>
				<div class="txt_error">아이디를 입력해주세요.</div> <!-- add class : hide_set : display:none; 처리  -->
				<div class="button_area">
					<button type="button" class="btn_middle btn_red">로그인</button>
				</div>
				<div class="select_area">
					<div class="button_area btn_both mid_bar">
						<a href="#go" class="btn_middle">아이디 찾기</a>
						<a href="#go" class="btn_middle">비밀번호 찾기</a>
					</div>
					<div class="form_input">
						<input type="checkbox" id="id_save" name="id_save"><label for="id_save">아이디 저장</label>
					</div>
				</div>

				<div class="button_area">
					<button type="button" class="btn_middle btn_gray">공인인증서 로그인</button>
				</div>

				<div class="midline_txt"><span>회원이 아니세요?</span></div>
				<div class="button_area">
					<a href="#go" class="btn_middle btn_white btn_line">회원가입</a>
					<a href="#go" class="btn_middle btn_white btn_line mt11">비회원 인증</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
