<ion-view view-title="비밀번호 찾기">
    <ion-content>
        <form name="$root.findPassword">
            <div class="container page_membership"> <!-- 아이디찾기 페이지 -->
                <div class="inner_cont type2">
                    <!-- 정보입력 -->
                    <ul class="entry_area">
                        <li>
                            <div class="title_s">아이디</div>
                            <div class="btm_enter">
                                <div class="input_area">
                                    <input type="text" name="customerId"
                                           ng-model="vm.customerId"
                                           placeholder="아이디입력" required />
                                </div>
                            </div>
                            <!--<div class="txt_error">{{vm.nameErrorMessage}}</div>-->
                            <div ng-messages="$root.findPassword.customerId.$error" ng-show="!findPassword.customerId.$pristine">
                                <div  class="txt_error" ng-message="required">아이디를 입력해주세요</div>
                            </div>

                        </li>
                    </ul>
                    <!--// 정보입력 -->
                    <div class="gray_box">
                        <ul class="dot_list">
                            <li>모바일앱에서는 회원가입 후,  공인인증서가 등록된 회원에 한해 비밀번호 찾기가 가능합니다.</li>
                            <li>인증서가 등록되지 않은 경우 PC버전 비밀번호 찾기를 이용해주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
    <ion-footer-bar>
        <!-- 하단 버튼 -->
        <div class="button_area btn_bottom_area">
            <button class="btn_middle btn_black_org" ng-click="vm.findPasswordCert()" ng-disabled="$root.findPassword.$invalid">공인인증서 인증</button>
        </div>
        <!--// 하단 버튼 -->
    </ion-footer-bar>
</ion-view>