 <ion-view title="dddddd">
  	<ion-content scroll="false">
	    <ion-slide-box show-pager="true" does-continue="true">
	        <ion-slide>
	            <ion-content>
	                Page 1
	            </ion-content>
	        </ion-slide>
	        <ion-slide>
	            <ion-content>
	                Page 2
	            </ion-content>
	        </ion-slide>
	        
	        <ion-slide>
	            <ion-content>
	                Page 3
	            </ion-content>
	        </ion-slide>
	    </ion-slide-box>
	</ion-content>
</ion-view>