<ion-view view-title="">
	<ion-content>
		<div class="container">
			<div class="inner_cont type2">
				<!-- 정보입력 -->
				<ul class="entry_area acc_admin">
					<li>
						<div class="title_s">금융투자회사</div>
						<div class="input_area"><input type="text" placeholder="" value="다이아몬드증권" class="biz_name" disabled /></div>
					</li>
					<li>
						<div class="title_s">구분</div>
						<div class="input_area"><input type="text" placeholder="" value="위탁" disabled /></div>
					</li>
					<li>
						<div class="title_s">실제계좌번호</div>
						<div class="input_area"><input type="text" placeholder="" value="34234234324324234" disabled /></div>
					</li>
					<li>
						<div class="both_area">
							<div class="title_s">가상계좌번호</div>
							<div class="input_area"><input type="text" placeholder="" value="2342424324" disabled /></div>
						</div>
					</li>
					<li>
						<div class="both_area">
							<div class="title_s">별칭</div>
							<div class="input_area nickname">
								<input type="text" placeholder="" value="목돈계좌" disabled />
								<button type="button" class="btn_del"></button>
							</div>
						</div>
						<div class="txt_error">입력해주세요</div> <!-- add class : hide_set : display:none; 처리  -->
					</li>
				</ul>
				<!--// 정보입력 -->
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<!-- 하단 버튼 -->
		<div class="button_area btn_both btn_bottom_area"> <!-- btn_both : 2개일때 / btn_three : 3개일때 -->
			<a href="#go" class="btn_middle btn_black">삭제</a>
			<a href="#go" class="btn_middle btn_black_org">저장</a>
		</div>
		<!--// 하단 버튼 -->
	</ion-footer-bar>

</ion-view>
