<ion-view view-title="">
	<ion-content class="bg_gray"> <!-- bg color -->
		<div class="container">
			<div class="inner_cont">
				<div class="set_link">
					<ul>
						<li class="version">
							<span class="left_area">버전<em>현재 : v1.2 / <span class="ft_org">최신 : v1.3</span></em></span>
							<button class="btn_update">업데이트</button>
						</li>
						<li><a href="#go">공인인증서 등록</a></li>
						<li class="notify">
							<span class="left_area">알림</span>
							<label class="toggle">
								<input type="checkbox">
								<div class="track">
									<div class="handle"></div>
								</div>
							</label>
						</li>
						<li><a href="#go">회원정보</a></li>
						<li><a href="#go">비밀번호 변경</a></li>
					</ul>
				</div>
				<div class="button_area btn_both mid_bar">
					<a href="#go" class="btn_middle">서비스 이용약관</a>
					<a href="#go" class="btn_middle">개인정보취급방침</a>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
