@charset "utf-8";

html, body {height:100%;}
body {	font-family:"Malgun Gothic", "돋움", Dotum,Arial,sans-serif; font-weight:normal;color:#222222;font-size:0.75em; -webkit-text-size-adjust:none;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,select,blockquote,button,address{margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
img,fieldset, img a{border:0;}
img{border:0}
img,input,select,textarea{vertical-align:top;}
ol, ul, dl{list-style:none;}
abbr,acronym{border:0;}
a{text-decoration:none; color:#80848a;}
caption, legend{position:absolute; width:0; height:0; overflow:hidden; font-size:0; line-height:0; visibility:hidden; z-index:-1;}
caption{position:static;}
header, footer, section, article, aside, nav { display: block; margin:0; } /* ie8 */