<!doctype html>
<html>
<head>
    <!-- 임시로 지움. -->
    <!--<meta charset="UTF-8">-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>확인</title>
    <link type="text/css" rel="stylesheet" href="../styles/css/common.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="../styles/css/ie7Debug.css"/>
    <![endif]-->
    <link rel="stylesheet" href="../styles/css/jquery-ui.css">

    <script>
        (function (){
            try{
                //console.log("page documnet.domain: " + document.domain);
                parent.document.location;
            }catch(e) {
                if (document.domain.indexOf(".co.kr") != -1) {
                    //co.kr
                    var domainArr = document.domain.split(".");
                    //console.log("arr:" + domainArr);
                    document.domain = domainArr[domainArr.length - 3] + ".co.kr";
                }
                else if (document.domain.indexOf(".com") != -1) {
                    //com
                    var domainArr = document.domain.split(".");
                    //console.log("arr:" + domainArr);
                    document.domain = domainArr[domainArr.length - 2] + ".com";
                }
            }
        })();
    </script>
    
    <script type="text/javascript" src="../styles/js/jquery-1.11.0.min.js"></script>
    <script src="../styles/js/jquery-ui.js"></script>

    <script type="text/javascript" src="../library/json3.min.js"></script>
    <script type="text/javascript" src="../library/iecompatibility.js"></script>
    <script type="text/javascript" src="../library/webAccess.js"></script>

    <script src="../language/identify.js"></script>
</head>
<script>
    function dragCheck(){
        if(window.navigator.userAgent.toLowerCase().indexOf('firefox') !== -1)
            return;
        addHandle(document.getElementById('titleText'), window);
    }
</script>
<body onload="dragCheck()">
<div class="CERT_titlebar">
    <!--<h1 id="titleText" tabindex="1"><script>document.write(identifyLang(0))</script></h1>-->
    <h1><ul><li id="titleText" tabindex="1"><script>document.write(identifyLang(0))</script></li></ul></h1>
    <div id="versionText" class="CERT_util_version"></div>
    <div class="CERT_util_btnClose" id="x_btn"><a href="#" tabindex="2" alt="닫힘" title="닫힘"></a></div>
</div>
<div class="certWrap">
    <dl class="tab1">
        <dd>
            <div class="CERT_contWrap14" id="mainInfo">
                <div class="CERT_certWrapper">
                    <div>
                        <h2 tabindex="3"><script>document.write(identifyLang(1))</script></h2>
                        <br><br><br>
                        <input tabindex="4" title="idntify" type="password" id="idn" class="CERT_inputStyle" style="width:300px; height:26px;" value="">
                        <br><br>
                        <div class="CERT_btns_common">
                            <p class="CERT_btnBg_mbtn"><a href="#" id="dialogCertTab_okBtn" tabindex="9998"><script>document.write(identifyLang(2))</script></a></p>
                            <p class="CERT_btnBg_mbtn"><a href="#" id="dialogCertTab_cancelBtn" tabindex="9999"><script>document.write(identifyLang(3))</script></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
</div>
</body>
<script type="text/javascript" src="../scripts/identify.js"></script>
<script type="text/javascript" src="../library/dragiframe.js"></script>
</html>
