<ion-view view-title="">
<ion-nav-buttons side="left">
<div class="main_logo"><img src="/resources/images/logo_main_ohfin.png"></div>
</ion-nav-buttons>
	<ion-content scroll="false">
		<div class="container">
			<div class="bg_slider_wrap">
				<div class="slide_img bg_slide1"> <!-- bg_slide1 , bg_slide2 , bg_slide3 -->	</div>
				<div class="btm_logo"><img src="/resources/images/logo_ohfin_main.png"></div>
			</div>
			<ion-header-bar class="main_header">
				<div class="top_main login_after"> <!-- login_after -->
					<!-- 로그인전 -->
					<div class="select_box">
						<select>
							<option>전체</option>
							<option>앱명</option>
							<option>핀테크기업명</option>
							<option>금융자산통합관리</option>
						</select>
					</div>
					<div class="search_box">
						<div class="input_area">
							<input type="text" placeholder="검색어를 입력하세요.">
							<button type="button" class="btn_del"></button>
						</div>
					</div>
					<!--// 로그인전 -->
					<!-- 로그인후 -->
					<div class="left_area">내 앱 목록</div>
					<button class="btn_apply">앱사용신청</button>
					<!--// 로그인후 -->
				</div>
			</ion-header-bar>
			<ion-content class="main-has-header">
				<div class="inner_cont">
					<div class="main_app">
						<ul>
							<li class="apply_app"> <!-- add : apply_app -->
								<a href="#go">
									<span class="logo_area"><img src="/resources/images/tmp_logo_01.png"></span>
									<div class="txt_app">
										<span>123456789012345678901234567890 <em class="ft_org">신청가능</em></span>
										<span class="biz">금융자산통합관리 / (주)큐에이알에이소 </span>
									</div>
								</a>
							</li>
							<li class="apply_app"> <!-- add : apply_app -->
								<a href="#go">
									<span class="logo_area"><img src="/resources/images/tmp_logo_02.png"></span>
									<div class="txt_app">
										<span>가람애널리틱스 <em class="ft_org">신청가능</em></span>
										<span class="biz">금융자 / (주)큐에 </span>
									</div>
								</a>
							</li>
							<li>
								<a href="#go"> 
									<span class="logo_area"><img src="/resources/images/tmp_logo_01.png"></span>
									<div class="txt_app">
										<span>가람애널리틱스 <em class="ft_org">신청가능</em></span>
										<span class="biz">금융자산통합관리 / (주)큐에이알에이소 </span>
									</div>
								</a>
							</li>
							<li>
								<a href="#go">
									<span class="logo_area"><img src="/resources/images/tmp_logo_02.png"></span>
									<div class="txt_app">
										<span>가람애널리틱스 <em class="ft_org">신청가능</em></span>
										<span class="biz">금융자산통합관리 / (주)큐에이알에이소 </span>
									</div>
								</a>
							</li>
						</ul>
						<!-- 등록된 앱 없을때 -->
						<div class="not_apply_app">
							<p>등록된 앱이 없습니다.<br>앱 사용신청 버튼을 클릭하여 앱을 등록해주세요.</p>
							<a href="#go" class="btn_apply">앱사용신청</a>
						</div>
						<!--// 등록된 앱 없을때 -->
					</div>
				</div>
			</ion-content>
		</div>
		<!-- floating menu-->
		<ion-floating-menu>
			<ion-floating-item text="계좌추가" icon="add"></ion-floating-item>
			<ion-floating-item text="앱사용신청" icon="app"></ion-floating-item>
		</ion-floating-menu>
		
	</ion-content>
</ion-view>
