<ion-view view-title="{{vm.title}}" hide-back-button="{{isAppToApp}}">
	<ion-content class="bg_gray"> <!-- bg color -->
		<div class="container"> <!-- 계좌 페이지 -->
			<div class="top_wrap">
				<h2 class="title_h2"><span class="ft_org">{{vm.appName}}</span> /{{vm.subCompanyName}}</h2>
				<div class="txt">연결 계좌 선택</div>
				<a href="#" class="btn_service icon-tip" tooltips-confirm="appServiceList">연계서비스</a>
				<a href="#" class="btn_plus" ng-click="vm.addAccountList()">가상계좌추가</a>
			</div>
			<div class="inner_cont">
				<div class="acclist_area acc_cho_list" ng-show="vm.accountList.length>0"> <!-- 연결계좌 선택 -->
					<!-- 아코디언 메뉴 -->
					<div class="accordian-menu" accordion>
						<!-- loop -->
						<div class="accordian-cont cont_wrap" ng-repeat="appAccountRes in vm.accountList" 
								ng-init="appAccountIndex = $index" ng-class="{active:appAccountRes.divActiveTag}">
							<a href="#none" class="btn_bar" ng-class="{disabled : (appAccountRes.isAvailable=='false')}" >{{appAccountRes.pubCompanyName}}</a>
							<div class="detail_cont" >
								<ul>
									<li ng-repeat="vtAccountRes in appAccountRes.vtAccountResList">
										<div class="form_input">
											<input type="checkbox" id="{{vtAccountRes.customerVtaccountNo}}"
												   ng-model="vtAccountRes.checked"
												   ng-disabled="appAccountRes.isAvailable=='false'"
											       ng-click="vm.vtAccountClick(appAccountIndex)">
											<label for="{{vtAccountRes.customerVtaccountNo}}">
												{{vtAccountRes.customerVtaccountAlias}}
												<span class="num_right">{{vtAccountRes.customerVtaccountNo}}</span>
											</label>
										</div>
									</li>
								</ul>
							</div>
							<div class="form_input">
								<input type="checkbox" id="{{appAccountRes.pubCompanyCodeId}}"
									   ng-model="appAccountRes.checked"
									   ng-disabled="appAccountRes.isAvailable=='false'"
									   ng-click="vm.pubCompanyClick(appAccountIndex)"
									   ng-class="vm.pubCompanyClass(appAccountRes.vtAccountResList)"><label for="{{appAccountRes.pubCompanyCodeId}}"></label>
							</div>
						</div>
					</div>
					<!--// 아코디언 메뉴 -->
				</div>
				<div class="not_result" ng-show="vm.accountList.length<1">등록된 계좌가 없습니다.<br>가상계좌추가발급 버튼을 클릭하여 등록해주세요.
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<!-- 하단 버튼 -->
		<div class="button_area btn_both btn_bottom_area" ng-if="!isAppToApp">
			<a href="#" class="btn_middle btn_black" ng-click="vm.cancel()">취소</a>
			<a href="#" class="btn_middle btn_ing" ng-click="vm.createApp()" ng-class="{disabled: vm.noList}">다음 <span class="bg_icon"></span></a> <!-- 비활성화 add class : disabled  / 활성시 disabled 제거 -->
		</div>
		<div class="button_area btn_bottom_area" ng-if="isAppToApp && vm.type != 'modify'">
			<a href="#" class="btn_middle btn_ing" ng-click="vm.createApp()" ng-class="{disabled: vm.noList}">다음 <span class="bg_icon"></span></a> <!-- 비활성화 add class : disabled  / 활성시 disabled 제거 -->
		</div>
		<div class="button_area btn_three btn_bottom_area" ng-if="isAppToApp && vm.type == 'modify'">
			<a href="#" class="btn_middle btn_black" ng-click="vm.appDelete(vm.appName)">앱삭제</a>
			<a href="#" class="btn_middle btn_black" ng-click="vm.goScope()">정보제공권한허용</a>
			<a href="#" class="btn_middle btn_ing" ng-click="vm.createApp()" ng-class="{disabled: vm.noList}">다음 <span class="bg_icon"></span></a> <!-- 비활성화 add class : disabled  / 활성시 disabled 제거 -->
		</div>
		<!--// 하단 버튼 -->
	</ion-footer-bar>
	<div class="tips" id="appServiceList">
		<div class="detail_tip btn_btm_pop">
			<div class="inner_popup">
				<div class="cont_popup">
					<div class="title_area">금융투자회사별 연계서비스</div>
					<div class="scl_box">
						<div class="table_wrap radius_type">
							<table>
								<colgroup><col style="width:50%;" ><col style="width:auto;" ></colgroup>
								<thead>
								<tr>
									<th>금융투자회사</th>
									<th>연계서비스</th>
								</tr>
								</thead>
								<tbody>
									<tr ng-repeat="appCompanyRes in vm.appCompanyList">
										<td>{{appCompanyRes.companyName}}</td>
										<td>{{appCompanyRes.apiName}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="button_area">
					<button type="button" class="btn_btm">확인</button>
				</div>
			</div>
		</div>
	</div>
</ion-view>

